{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center mt-8">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold text-center mb-6">Password Change Page</h1>
    {% if form.non_field_errors %}
      <div class="bg-red-500 text-white p-4 rounded mb-4">
        {% for er in form.non_field_errors %}
          <p>{{ er }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                 value="{{ field.value|default_if_none:'' }}" class="border-black border-2 focus:border-black focus:ring focus:ring-black focus:outline-none block w-full px-4 py-2 text-sm text-gray-900 rounded-lg shadow-xl"
                 {% if field.field.widget.attrs %} {{ field.field.widget.attrs|safe }} {% endif %}>
          <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
        </div>
      {% endfor %}
     
      <div class="flex justify-center">
        <button type="submit" class="bg-yellow-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded">Change password</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}