{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-wrap">
  <div class="col-6">
    <div class="card m-2">
      <div class="card-body">
        <p class="card-title"><b>Book Title -</b> {{ object.title }}</p>
        <p class="card-text"><b>Book Price -</b> {{ object.price }}</p>
        <p class="card-text"><b>Quantity -</b> {{ object.quantity }}</p>
        <p class="card-text"><b>Description -</b> {{ object.description }}</p>
        <p><b>Category:</b>
          <button class="btn btn-warning btn-sm m-2" disabled><b>{{ object.category_name.name }}</b></button>
        </p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card m-2">
      <div class="card-body d-flex flex-column align-items-center">
        {% if object.image %}
        <img src="{{ object.image.url }}" class="card-img-top m-2" alt="Book Image" />
        {% endif %}
        
        <p class="bg-dark text-white" style="border-radius: 5px; padding: 5px;">
          If you want to buy it, click the Buy Now button
          {% if user.is_authenticated %}
            {% if object.quantity > 0 %}
              <form action="{% url 'buy_book' object.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success me-2">Buy Now</button>
              </form>
            {% else %}
              <p>Out of stock</p>
            {% endif %}
          {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a> to buy the book.</p>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

{% comment %} {% if purchase_person %} {% endcomment %}
    <!-- Display comments and form for adding new comments if the book has been purchased -->
    <div class="card m-2">
        <h5 class="p-3">Total Review Comments: {{ comments|length }}</h5>
        {% for comment in comments %}
            <div class="card-body border m-2">
                <p><b>Review Time -</b> {{ comment.created_on }}</p>
                <p><b>Name -</b> {{ comment.name }}</p>
                <p><b>Review Detail -</b> {{ comment.body }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="card m-2">
        <div class="card-body">
            <form method="POST">
                <h1>Add Review</h1>
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </div>
{% comment %} {% else %}
    <!-- Display a message if the user hasn't purchased the book -->
   <div class="card m-2">
        <div class="card-body">
            <p>You need to purchase the book to add comments.</p>
        </div>
    </div> 
{% endif %} {% endcomment %}

{% endblock %}
