{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head_title %} Transaction Report {% endblock %}
{% block content %}

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Transaction Report</h1>
  <hr />
  <form method="get" action="{% url 'transaction_report' %}">
    <div class="flex justify-center">
      <div class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12 mx-2">
        <label for="start_date">From:</label>
        <input class="appearance-none w-full outline-none focus:outline-none active:outline-none" type="date" id="start_date" name="start_date" />
      </div>

      <div class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12">
        <label for="end_date">To:</label>
        <input class="appearance-none w-full outline-none focus:outline-none active:outline-none" type="date" id="end_date" name="end_date" />
      </div>

      <div class="mt-10 pl-3 pr-2 flex justify-between items-center relative w-4/12">
        <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Filter
        </button>
      </div>
    </div>
  </form>

  <table class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500">
    <thead class="bg-purple-900 text-white text-left">
      <tr class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold">
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Transaction Type</th>
        <th class="px-4 py-2">Amount</th>
        <th class="px-4 py-2">Balance After Transaction</th>
        <th class="px-4 py-2">Book Name</th>
        <th class="px-4 py-2">Book Price</th>
        <th class="px-4 py-2">Return Book</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in object_list %}
      <tr class="border-b dark:border-neutral-500">
        <td class="px-4 py-2">
          {{ transaction.timestamp|date:"F d, Y h:i A" }}
        </td>
        <td class="px-4 py-2">
          <span class="px-2 py-1 font-bold leading-tight rounded-sm 
              {% if transaction.get_transaction_type_display == 'Purchase' %} text-red-700 bg-red-100 
                {% elif transaction.get_transaction_type_display == 'Return' %} text-yellow-700 bg-yellow-100 
                {% else %} text-green-700 bg-green-100 
                {% endif %}">
            {{ transaction.get_transaction_type_display }}
          </span>
        </td>
        <td class="px-4 py-2">
          $ {{ transaction.amount|floatformat:2|intcomma }}
        </td>
        <td class="px-4 py-2">
          $ {{ transaction.balance_after_transaction|floatformat:2|intcomma }}
        </td>
        <td class="px-4 py-2">
          {% if transaction.book %}
          {{ transaction.book.title }}
          {% else %}
          <button class="text-green-700 bg-green-100 px-2 py-1 font-bold leading-tight rounded-sm  ">
            N/A
          </button>
          {% endif %}
        </td>
        <td class="px-4 py-2">
          {% if transaction.book %}
          $ {{ transaction.book.price|floatformat:2|intcomma }}
          {% else %}
          <button class="text-green-700 bg-green-100 px-2 py-1 font-bold leading-tight rounded-sm  ">
            N/A
          </button>
          {% endif %}
        </td>
        <td class="px-4 py-2">
            {% if transaction.book and not transaction.is_return and transaction.get_transaction_type_display == 'Purchase' %}
                <form action="{% url 'return_book' transaction.book.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded-full shadow-md focus:outline-none">Return Book</button>
                </form>
            {% elif transaction.is_return %}
            <button class="text-green-700 bg-green-100 px-2 py-1 font-bold leading-tight rounded-sm  ">
              Return DONE
            </button>
            {% elif   transaction.get_transaction_type_display == 'Deposite'   %}
            
            <button class="text-green-700 bg-green-100 px-2 py-1 font-bold leading-tight rounded-sm  ">
              N/A
            </button>
            {% else %}
            <div class="border-2 border-black bg-white text-red-600 p-1 rounded-md">
              <span class="font-semibold">After Return Book,You Got Money Back,Check Email, Please...!</span>
            </div>
            

            {% endif %}
        </td>
      </tr>
      {% endfor %}
      
      <!-- Display current balance -->
      <tr class="bg-gray-800 text-white">
        <th class="px-4 py-2 text-right" colspan="4">Current Balance</th>
        <th class="px-4 py-2 text-left" colspan="2">
          $ {{ account.balance|floatformat:2|intcomma }}
        </th>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
